.App {
  text-align: center;
}
body {
  overflow: scroll;
  overflow-x: hidden;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
/* thead {
  top:0;
  z-index: 10;
  background: white;
  width: 100%;
} */
.MuiTableHead-root-78 {
  display: table-header-group;
  border-bottom: 0.1px solid lightgrey;
}
thead, tbody { display: block; }

tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
.RenderData-tableWrapper-42 {
  overflow-x: unset;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.RenderData-root-40{
  margin-top: 0!important;
}
.MuiTablePagination-root-93{
  overflow: hidden;
  position: sticky;
  background: white;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-button-1 {
  margin-bottom: 10rem!important;
  margin-left: -3rem!important;
  margin-right: -8rem!important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
